// COLORS
$color-primary: #E2361C;
$color-primary-light: #FC5235;
$color-primary-dark: #B52B16;

$color-white: #fff;
$color-black: #000;


// EXTRA COLORS
$color-blue-light: #3977aa;

$color-blue-dark-1 : #133352;
$color-blue-dark-2: #041E37;

$color-prurple: #363377;