body {
    font-family: 'Roboto Slab', serif;
    background-color: #2A4D6E;
}

.mainCV {
    background-color: #ffffff;
    padding: 50px;
}

#cvPhoto {
    width: 100%;
    height: auto;
    border: 10px solid #2A4D6E;
    border-radius: 20%;
}

#basicInfo {
    display:flex;
    flex-direction: column;
    align-content: center;
}

.heading {
    font-weight: bold;
}

#ref {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.referencer {
    border: 5px solid #2A4D6E;
    border-radius: 20%;
    background-color: #363377;
    color: #ffffff;
    padding: 30px;
    width:40%;
    margin-top: 30px;
}

@media (max-width: 770px){
    #ref {
        flex-direction: column;
    }

    .referencer {
        width: 100%;
    }
}

.linkPhoto {
    width: 50%;
    height: auto;
}

#linkBox {
    display: flex;
}