/* colors for the project
    lighter dark blue : #133352
    purple: #363377
    darker blue: #041E37
    white: #ffffff
    dark sky blue: #3977aa
*/

body {
    font-family: 'Roboto Slab', serif;
    background-color: #133352;
}

.mainCV {
    background-color: #ffffff;
    padding: 50px;
}

/*Navigation bar*/

#nav_bar {
    background-color: #041E37;   
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.nav_bar_title {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 50px;
    font-family: 'Black Han Sans', sans-serif;
    padding-left: 20px;
}

.nav_img {
    height: 35px;
    padding-right: 20px;
}

/*CV basic info part */

#cvPhoto {
    width: 100%;
    height: auto;
    border: 10px solid #133352;
    border-radius: 20%;
}

#basicInfo {
    display:flex;
    flex-direction: column;
    align-content: center;
    
}

.heading {
    font-weight: bold;
}

/*Education*/

/* Skills */

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-item {
    background-color: #3977aa;
    height: 100px;
    width: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.purple {
    background-color: #363377;
}

.lang__item {
    background-color: #3977aa;
    color: #ffffff;
    height: 150px;
    width: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.skillPhoto {
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
	margin-right: auto;
    display: block;
}

.skillPhotoLarge {
    max-width: 60%;
    max-height: 80%;
    margin-left: auto;
	margin-right: auto;
    display: block;
}


/*Projects*/

.project__link {
    text-decoration: none;
    color: inherit;
    
}

/*References*/

#ref {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*
.referencer:hover {
    transform: rotateY(180deg);
}
*/

.referencer {
    background-color: #363377; 
    color: #ffffff;
    padding: 30px;
    width:49%;
    height: 300px;
    margin-top: 30px;
    /*transform-style: preserve-3d;
    transition: transform 0.2s linear;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;*/
}

.referencer:nth-of-type(3n) {
	margin-right: 0;	
}

.referencer:nth-of-type(3n+1) {
	margin-left: 0;	
}
/*
.frontRef {
    background-color: #363377; 
}

.backRef {
    background-color: #3977aa;
}

.face {
    position: absolute;
    height: 300px;
    width: 300px;
    backface-visibility: hidden;
    padding: 30px;
}

.face.backRef {
    display: block;
    transform: rotateY(180deg);
}
*/


/*links*/

.linkPhoto {
    width: 50%;
    height: auto;
}

#linkBox {
    display: flex;
}

/*media*/

@media (max-width: 770px) {
    #ref {
        flex-direction: column;
    }

    .referencer {
        width: 100%;
    }
}

@media(max-width: 400px) {
    .nav_bar_title {
        font-size: 20px;
        letter-spacing: 10px;
    }
}